body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar{
    text-align: center;
}
.nav-bar p{
    padding: 0;
    margin: 0;
}
.nav-bar p{
    font-size: 1.2rem;
    margin: 0;
    font-weight: bolder;
}
p{
    margin: 0;
}
.taylor{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
}
article{
    text-align: center;
    width: 90%;
    margin: 2.8rem auto 2.7rem auto;
    box-shadow: 0px 0px 2.5px grey;
    border-radius: 6.5px;
}
.order-info{
display: flex;
padding: 21px 25px 21px 40px;
background: #001627;
color: white;
border-radius: 6.5px 6.5px 0 0;
justify-content: space-between;
margin: 0;
}
.order-info p {
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.order-info span {
    color: #9C9EA2;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.event-info{
    display: flex;
    margin: 1.45rem 1rem -.3rem 1rem;
}
.event-info span{
    font-size: 12px;
    font-weight: lighter;
}
.p-holder{
    text-align: left;
    margin: 0 1rem;
    font-weight: bolder;
    color: rgb(75, 74, 74);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p-holder p:nth-child(3) {
    width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reseller{
    display: flex;
    padding: 30px 25px;
    justify-content: space-between;
    font-weight: bold;
}
.reseller-sub{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
}
hr:not(.thehr) {
    border: .7px solid rgb(0,0,0,.3);
}
.thick{
    width: 22rem;
    margin: 0 auto 0 auto;
    transform: translateY(-8px);
}
.reseller-cont{
    background: rgb(243, 241, 241);
}
.buttons{
    display: flex;
    padding: 22px;
    gap: 3rem;
    justify-content: center;
    font-weight: bold;
    letter-spacing: .05em;
}
.buttons p {
    height: 3.1rem;
    display: grid;
    place-items: center;
    width: 12rem;
}
.green{
    background: #428227;
    border-radius: 5px;
    color:white ;
}
.blue{
    background-color: #004979;
    color: white;
    border-radius: 5px;
}
.dotted-hr{
    border: 1px dashed;
    width: 90%;
    margin: 1.3rem auto;
}
.tek-bott {
    background: white;
    padding: 0 0 15px 0;
    position: sticky;
    z-index: 9;
    bottom: 0;
}
.tek-dets-btn {
    height: 3rem;
    width: 80%;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(38, 38, 119);
    border: 2px dotted grey;
    -webkit-text-stroke: .2px;
    background: white;
    border-radius: 7px;
}
.hr-tek-2 {
    border: 1px dashed rgb(128, 128, 128, .5);
}.reseller-cont p {
    font-weight: 600;
    color: rgb(0,0,0,.75);
}
.p-holder p {
    width: 11.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-holder p:not(:nth-child(3)) {
    margin-bottom: 2px;
}
.reseller-sub div p:nth-child(1) {
    color: rgb(0,0,0,.5);
    font-weight: 500;
}
.scaledd {
    transition: all 400ms ease-in;
    animation: scale 1s normal;
}
@keyframes scale {
    from {
        scale: 1.1;
    } to {
        scale: 1;
    }
}