/* body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.sub-body-history{
    
}
nav{
position: fixed;
top: 0;
z-index:1;
}
h3{
    margin: 1rem;
    color: black;
}
section{
    padding: 1rem;
    margin:0  auto;
    border-right: 1px solid rgb(208, 204, 204);
    border-left: 1px solid rgb(208, 204, 204);
    width:80%;
    border-radius: 10px;
    font-family: sans-serif;
    color: rgb(84, 83, 83);
    overflow: hiddenå;
}
.header-cont p{
   font-size: 1.3rem;
   display: flex;
   padding: 2px;
}
.header-cont span{
    font-size: 3rem;
    font-weight: bolder;
}
img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    filter: brightness(1.2);
}
.transactions{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}
.transactions div:nth-child(1){
    display: flex;
    gap: 10px;
    align-items: center;
}
article{
    background: rgb(187, 246, 187);
    width: 83%;
    padding: 2rem 5px;
    margin:1rem auto 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(177, 176, 176);
    text-align: center;
}
.info-cont p{
    font-size:1.2rem;
    padding: 5px;
}
.info-cont p:nth-child(1){
    font-weight: bolder;
}
.info-cont span{
    font-weight: bolder;
}
.flex-cont{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
}

.flex-cont div{
    background: white;
    width: 50px;
    padding: 10px;
    border-radius: 7px;
}
.flex-cont span{
    width:50px ;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: white;
}
.p-info-cont{
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
}
.sub-nav{
    position:sticky;                                           
}
.head-cont{
    width: 100%;
    height: auto;
    top: 0;

}
.bottom-pic{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
}
.transactions p:nth-child(1){
font-weight: lighter;
padding: 5px;
}
.transactions{
    border-bottom: 1px solid rgb(177, 176, 176, .5);
    padding-bottom: 25px;
    align-items: center;
} */
