/* App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #121212;
  color: white;
  padding: 16px 16.5px 5px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: -8px;
  box-sizing: border-box;
}
.nav-left{
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
}
.nav-right {
  text-align: right;
  font-size: 17px;
}
.nav-center {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
}
.nav-right a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin: 0 20px 0 0;
}



:root{
  --my-blue: #026bde;
  --default-bg: #121212;
  }
.card-holder .event-sellers {
background: black;
border-radius: 10px 10px 0 0px;
padding: 8px;
background-color: var(--my-blue);
color: #fff;
}
.seat-dets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  color: #ffff;
  background: var(--my-blue);
  height: 6.6rem;
  align-items: center;
  padding: 10px;
}
.seat-det-sent {
  background: rgb(10, 110, 229);
}
.seat-dets p:nth-child(1),.seat-dets p:nth-child(2), .seat-dets p:nth-child(3) {
transform: translateY(5px);
font-weight: lighter;
font-size: 13.5px;
}
.ga div p:nth-child(1) {
  transform: translateY(5px);
}
.ga div p:nth-child(2), .ga p:nth-child(2) {
  color: #fff;
  font-size: 1.15rem;
  font-weight: bolder;
  margin-top: 7px;
}
.ga div p:nth-child(2) {
  transform: translateY(0px);
}
.seat-dets p:nth-child(4),.seat-dets p:nth-child(5), .seat-dets p:nth-child(6) {
  color: #fff;
  transform: translateY(-10px);
  font-size: 22px;
  font-weight: bolder;
}
.seat-det-sent {
  background-color: rgb(76, 76, 85,.9);
}
.card-img {
width: 100%;
aspect-ratio: 16/9;
}
.info-field, .info-sent {
height: 12rem;
background: linear-gradient(transparent, transparent,  rgb(0, 0, 0, .5), black);
margin-top: -12rem;
position: relative;
padding: 10px;
}
.info-sent {
  background: linear-gradient(transparent, rgb(0, 0, 0, .2),  rgb(0, 0, 0, .8), black);
}
.info-field p, .info-sent p {
  transform: translateY(7.5rem);
  color: #fff;
}
.info-field p {
  transform: translateY(6rem);
}
.info-sent p  {
  transform: translateY(4.5rem);
}
.info-field p:nth-child(1), .info-sent .title-sent {
  font-weight: 650;
  font-size: 17.3px;
  display: flex;
  height: 3.5rem;
  align-items: flex-end;
  justify-content: center;
}
.ga {
  display: flex;
  justify-content: space-around;
  column-gap: 25px;
  align-items: center;
}
.ga div, .ga p:nth-child(2) {
  transform: translateY(-10px);
}
.info-field p:nth-child(2), .info-sent .sent-time {
  font-size: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 1.6rem;
  line-height: 14px;
  justify-content: center;
}
.entry {
  margin-top: 20px;
  letter-spacing: -0.5px;
  font-size: 14px;
}
.walletimg {
  width: 15rem;
  margin: 20px auto 10px auto;
}
.sections {
  color: var(--my-blue);
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px 0;
}
.dets {
  transform: translateY(15px);
  color: var(--my-blue);
  padding: 5px 0 20px 0;
}
.bottom, .bottom-sent {
  width: 100%;
  height: 2rem;
  border-radius: 0 0 10px 10px;
  transform: translateY(25px);
}
.bottom {
  background-color: var(--my-blue);
}
.bottom-sent {
  background: #4c4c55;
}
.btn {
  text-align: center;
}
.btn button {
  width: 10rem;
  margin: 10px 10px 20px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 501;
}
.btn button:nth-child(1) {
  background: var(--my-blue);
}
.btn button:nth-child(2) {
  background-color: rgb(128, 128, 128, .5);
}

img{
  width: 100%;
  image-rendering: crisp-edges;
}
.bottompic{
  width: 100%;
  z-index: 100;
}
.transfer-form {
  position: fixed;
  bottom: 0;
  height: 10px;
  width: 100%;
  z-index: 999;
  border-radius: 3px 3px 0;
  text-align: center;
  animation: animate .2s normal;
  transition: transform 2s ease-in-out;
}
@keyframes animate {
  10% {
    position: absolute;
    right: -10rem;
  }
  25% {
    bottom: -5rem;
  } 100% {
      right: 0;
  }
}
.submit {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 10rem;
  padding: 0 15px;
  height: 2.7rem;
  background: var(--my-blue);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.submit a {
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: none;
  
}
.nav-left-btn {
  position: absolute;
  bottom: 60px;
  left: 20px;
  font-size: 20px;
  color: var(--my-blue);
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
}
.transfer-form input[type="text"], textarea {
  padding: 7px 5px;
  outline: none;
  width: 90%;
  border-radius: 2px;
  border: 1.5px solid rgb(0, 0, 0, .5);
  margin-top: 20px;
  resize: none;
  transform: translateY(-38px);
  font-weight: 500;
  margin-bottom: -2px;
  font-size: 18px;
  transition: all 400ms ease;
}
.transfer-form input[type="radio"] {
  position: absolute;
  transform: translate(-30px, 0px);
}

.transfer-form input[type="text"]::-webkit-input-placeholder, .transfer-form textarea::-webkit-input-placeholder {
  color: rgb(128, 128, 128, .5);
  font-size: .9rem;
  transform: translateX(4px);
}
.transfer-form textarea::-webkit-input-placeholder {
  height: 100%;
  transform: translate(16rem, 60px);
}
.transfer-form input[type="text"]:nth-child(11) {
transform: translateY(-20px);
}
.transfer-form input[type="text"]:nth-child(15) {
  transform: translateY(-30px);
}
.transfer-form textarea {
  transform: translateY(-38px);
  height: 5.4rem;
}
.transfer-form input[type="submit"] {
  transform: translateY(10px);
}

.transfer-form label {
  position: absolute;
  left: 20px;
  font-size: 15px;
  transform: translateY(-20px);
  color: rgb(0, 0, 0, .77);
}

.transfer-form label:nth-child(5) {
transform: translateY(-7px);
}
.transfer-form label:nth-child(9) {
  transform: translateY(-7.5px);
  }
  .transfer-form label:nth-child(13) {
    transform: translateY(-18.5px);
    }
    .transfer-form label:nth-child(17) {
      transform: translateY(-18.5px);
      }
.transfer-form h3, .selectee {
  transform: translateY(6px);
  font-weight: 100;
  font-size: 15px;
  margin: 5px 0;
  color: rgb(0,0,0, .8);
}
.transfer-form hr {
  margin: 20px 0;
  transform: translateY(-4px);
}
.transfer-form .selected-tix {
font-weight: 400;
transform: translate(20px, -10px);
}
.transfer-form p:not(.selected-tix) {
  margin: 10px 0;
}
.transfer-form p:not(.selected-tix) span {
  -webkit-text-stroke: .35px;
}
.transfer-form p {
  text-align: left;
  transform: translateX(20px) translateY(-10px);
}
.swipe-area {
  height: 10px;
  width: 100px;
  background-color: rgb(128, 128, 128, .4);
  margin: 0 auto;
  border-radius: 20px;
  transform: translateY(-3px);
}
.blur {
  backdrop-filter: blur(5px);

}
.cover {
  height: 14rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0, .1), rgb(0, 0, 0, .4), rgb(0, 0, 0, .5), rgb(0, 0, 0));
  width: 95.4%;
  color: #ffff;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 0;
  transform: translateX(.62rem);
}
.show-btn img {
  margin-top: 50px;
  width: 100%;
  scale: .95;
  object-fit: contain;
  outline: none;
}
.show-btn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -3.5rem;
  overflow: hidden;
  animation: blip 700ms normal;
  transition: animation 2s ease;
  height: 17.5rem;
  position: relative;
}
@keyframes blip {
  10% {
    opacity: 0.8;
    scale: 0.9;
  } 100% {
    opacity: 1;
    scale: 1;
  }
}

.cover p {
  text-align: left;
  transform: translate(10px, 0);
}
.cover p:nth-child(1):not(.cover span p) {
  font-weight: 500.5;
  font-size: 21px;
  height: 2rem;
  display: flex;
  align-items: flex-end;
  transform: translate(10px, 8.6rem);
}
.cover p:nth-child(1):not(.cover span p) {
  width: 95%;
}
.cover p:nth-child(2) {
  font-size: 15px;
  transform: translate(10px, 8.7rem);
  height: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  text-overflow: ellipsis;
}
.cover span p{
  transform: translate(35px, 8.5rem);
  font-size: 12px;
}
.ticket-icon {
  position: absolute;
  bottom: 15px;
  left: .95rem;
  rotate: 135deg;
  font-size: 12px;
}
.bottompic {
  position: fixed;
  bottom: 20px;
}
.map {
  text-align: center;
  max-width: 97%;
  margin: 10px auto 0 auto;
}
.map img {
 border-radius: 10px;
}
.weirdh2 {
  background: #4c4c55;
  width: 97%;
  text-align: center;
  color: white;
  left: 1.4%;
  transform: translateY(50px);
  padding: 3px 0;
  z-index: 1;
}
.weirdh2:first-child {
font-size: 14px;
letter-spacing: .03em;
position: absolute;
}
.bg {
  background:rgb(128, 128, 128, .4);
  width: 97%;
  margin: 0 auto;
  left: 1.5%;
  transform: translateY(74px);
  z-index: 99999;
  filter: brightness(80%);
}
.sold {
  transform: translate(8.5rem, 4.9rem);
  width: 4rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.coverimg {
  filter: brightness(45%);
  object-fit: cover;
}
.qr-code-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  height: 82vh;
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
}
.qr-code-modal img {
  max-width: 57%;
  height: auto;
  transform: translateY(-5.5rem);
}
marquee {
  background: linear-gradient(to right, rgb(255, 0, 0,.4), rgb(65, 65, 190), rgb(128, 0, 128,.5)); 
  color: #fff;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px 5px 0 0;
  word-spacing: 1em;
}
marquee span {
  font-size: 8px;
  padding: 0 20px 5px 0 ;
}
.qr-code-modal h4:nth-child(2) {
font-size: 21px;
padding: 20px 0;
text-align: left;
transform: translateX(20px);
font-weight: 400;
}
.qr-code-modal hr {
  color: rgb(128, 128, 128, .7);
}
.qr-code-modal hr:nth-child(3), .qr-code-modal hr:nth-child(6) {
width: 90%;
transform: translateX(20px);
}
.qr-code-modal h4:nth-child(4) {
font-size: 20px;
padding: 15px 0 10px 0;
text-align: left;
transform: translateX(20px);
color: rgb(63, 63, 228);
}
.qr-code-modal h4:nth-child(5) {
text-align: left;
transform: translateX(20px);
font-size: 23px;
padding: 0 0 20px 0;
}
.qr-code-modal h4:nth-child(7), .qr-code-modal h4:nth-child(8), .qr-code-modal h4:nth-child(9) {
text-align: left;
transform: translate(20px, 10px);
font-size: 20px;
padding: 5px 0;
}
.qr-code-modal h4:nth-child(7), .qr-code-modal h4:nth-child(11), .qr-code-modal h4:nth-child(14) {
  color: rgb(63, 63, 228);
}
.qr-code-modal hr:nth-child(10) {
  width: 4.5rem;
  transform: translate(6rem, -50px) rotate(90deg);
}
.qr-code-modal h4:nth-child(11), .qr-code-modal h4:nth-child(12) {
transform: translate(44%, -5.6rem);
text-align: left;
font-size: 20px;
}
.qr-code-modal h4:nth-child(12), .qr-code-modal h4:nth-child(15) {
margin: 6px 0 0 0;
}
.qr-code-modal hr:nth-child(13) {
  width: 4.5rem;
  transform: translate(13rem, -103px) rotate(90deg);
}
.qr-code-modal h4:nth-child(14), .qr-code-modal h4:nth-child(15) {
  transform: translate(74.5%, -9.2rem);
  text-align: left;
  font-size: 20px;
}
.qr-code-modal hr:nth-child(16) {
transform: translate(20px, -6rem);
width: 90%;
border-top: 2px dashed rgb(128, 128, 128, .7); 
border-bottom: none;
}
.qr-code-modal h4:nth-child(18) {
transform: translateY(-80px);
font-size: 20px;
font-weight: 400;
color: #4c4c55;
}
.qr-code-modal hr:nth-child(19) {
width: 90%;
transform: translate(20px, -4rem);
}
.qr-code-modal h4:nth-child(20) {
text-align: left;
transform: translate(20px, -3.3rem);
font-size: 20px;
color: #25252c;
}
.blur-effect {
  filter: blur(100%); /* Adjust the blur amount as needed */
}
.qr-code-modal div {
  width: 100%;
  height: 0.4rem;
  background: linear-gradient(to right, rgb(255, 0, 0,.4), rgb(65, 65, 190), rgb(128, 0, 128,.5)); 
  border-radius: 0 0 10px 10px;
  transform: translateY(-44px);
}
.smthr {
  position: absolute;
  border: 0.2px solid rgb(128, 128, 128, .05);
  transform: translateY(-0.09rem) rotate(180deg);
  z-index: 99999999999;
  height: 12.47rem;
  rotate: 180deg;
}
.smthr2 {
  transform: translateY(-20.97rem) rotate(90deg);
  rotate: 90deg;
}
.smthr1  {
  margin-top: -2px;
  margin-left: -0.5px;
}
#countdow {
  font-size: 24.5px;
  font-weight: 599;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

.days span, .days-width span{
  border: 1px solid rgb(128, 128, 128,.2);
  font-size: 8px;
  padding: 2px 7px;
  font-size: 10px;
  transform: translateY(2px);
}
.days-width span:nth-child(2) {
  transform: translate(1px, 2px);
}
.days {
  display: flex;
  justify-content: space-between;
}
.days-width {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0px  5px;
}
.days span:nth-child(2) {
  transform: translateX(-3px);
}
.days span:nth-child(3) {
  transform: translateX(-3px);
}
.tickett {
  padding: 10px 0 0 0;
  transform: translateY(10px);
}
.tickett p {
letter-spacing: .02em;
font-weight: 400;
font-family: sans-serif;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Adjust as needed */
  margin-right: 15px; /* Adjust as needed */
  cursor: pointer;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  background-color: red;
  border-radius: 50%;
  content: "✔︎";
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: green; 
}
.form-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 65%;
  transition: bottom 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99999999999999999999999999;
}

.form-container.visible {
  bottom: 0;
}
.form-container form {
  width: 100%;
  text-align: center;
  background-color: white;
  height: 100%;
}
.form-container form input {
  margin: 0 0 10px 0;
  padding: 10px 0;
}

.big {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0,.6);
  z-index: 1000000000000000000000000000;
  position: fixed;
  top: .9%;
  border-radius: 10px 10px 0 0;
}

.div .seat-wrap {
  height: 2rem;
  width: 5rem;
  background: var(--my-blue);
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.div .wrap {
 display: flex;
 justify-content: flex-start;
 padding: 0 10px;
}

.div .seated {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 5rem;
  background: white;
  box-shadow: 2px 2px 5px rgb(128, 128, 128, .6);
  border-radius: 0 0 10px 10px;
  transform: translateY(5px);
  padding: 5px 0;
}
.div .um {
  transform: translateY(3px);
}

.div .controller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50%;
  transform: translateY(6.2rem);
  position: relative;
}

.div .btm {
  position: absolute;
  bottom: -85px;
  background: rgb(128, 128, 128, .3);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5em;
  padding: 10px 5px 30px 5px;
  height: 2rem;
}
.div .btm span {
  transform: translateY(4px);
}

.div .btm span:nth-child(2) {
  color: var(--my-blue);
  font-weight: 100;
  height: 1.5rem;
}

.div .line {
transform: translateY(19.5rem);
border: 1px solid rgb(128, 128, 128,.5);
}

.div .chevron {
  font-size: 1.15rem;
  transform: translateY(1px);
}

.div .btm span:nth-child(1) {
transform: translate(-25px, 4px);
}

.selectee {
  position: absolute;
  left: 21.5%;
  transform: translateY(7px);
  font-weight: 100;
}

.hh {
  margin: -5px 0 15px 0;
  transform: translateY(2.8rem);
  width: 7rem;
  float: right;
}

.div .middle {
  display: flex;
  width: 100%;
  position: absolute;
  transform: translateY(52.5px);
  padding: 0 10px 0;
}

.div .middle span:nth-child(2) {
transform: translateY(30px);
position: absolute;
right: 40px;
} 

.div .middle h4:nth-child(1) {
font-weight: 100;
transform: translateY(2
0px);
}
.tixs {
rotate: 130deg;
transform: translate(5px, 5px);
}

.toggle-button {
  transform: translateY(25px);
  position: absolute;
  bottom: 10%;
}

/*  */
.transfer-nav-2 {
  position: fixed;
  top: 0;
}
.ex {
  height: 1.5rem;
  width: 1.5rem;
  background: rgb(255, 0, 0,.95);
  border-radius: 50%;
  position: fixed;
  transform: translate(10.4rem, -25px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.transfer-nav h3 {
  transform: translateX(-10px);
}
.transfer-page .error-side {
  margin: 3.2rem auto -10px auto;
  height: 2rem;
  width: 90%;
  border: .001px dotted rgb(255, 0, 0, .2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: rgb(255, 0, 0, .05);
}
.transfer-page .error-side span:nth-child(2) {
  transform: translateX(15px);
  color: rgb(55, 55, 55);
}
.transfer-icon {
  transform: translateX(5px);
  color: rgb(255, 1, 44);
  font-size: 20px;
}
.first-head-transfer {
  margin: 20px auto;
  width: 90%;
}
.first-head-transfer h3:nth-child(1) {
  margin: 20px;
}
.first-head-transfer p:nth-child(2) {
  margin: 0 0 20px 0;
  line-height: 25px;
  font-size: 18px;
  text-indent: 5px;
  text-shadow: .2px .2px 1.5px grey;
}
.first-head-transfer p:nth-child(3) {
  border: 1px dotted red;
  padding: 10px;
  background: var(--my-blue);
  color: white;
  border-radius: 5px;
}
.section-head-transfer {
  width: 90%;
  margin: 0 auto;
  background: rgb(128, 128, 128, .2);
  padding: 5px;
}
.section-head-transfer h3:nth-child(1) {
margin: 10px 10px 10px;
}
.section-head-transfer p:nth-child(2) {
  padding: 5px 10px;
  color: rgba(0,0,0,.7);
  text-indent: 5px;
}
.transfer-page .div {
margin: 15px auto;
width: 93%;
height: 2.2rem;
}
.transfer-page .div button {
  width: 100%;
  border-radius: 5px;
  background: var(--my-blue);
  color: whitesmoke;
  height: 100%;
  font-size: 14px;
  font-weight: bolder;
}
.transfer-page .session {
  overflow: hidden;
}
.transfer-page .session {
  margin: 4rem auto 0 auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.transfer-page .session button {
  width: 12rem;
  padding: 12px;
  height: 80%;
  background: red;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.btt {
  text-decoration: none;
}
.transfer-page .session a:nth-child(2) {
text-decoration: none;
transform: translateY(7px);
}
.transfer-page .session .btt button:nth-child(1) span {
  padding: 0 5px;
  transform: translateY(.5px);
}
.your-css-class {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.406);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dim 3s normal;
}
.your-css-class span {
  width: 2rem; /* Adjust the size as needed */
  height: 2rem; /* Adjust the size as needed */
  border: 4px solid transparent; /* Create an empty border */
  border-top: 4px solid white; /* Add a white border on top for the spinner effect */
  border-radius: 50%; /* Make it round */
  animation: spin 1s linear infinite; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes dim {
  from {background: rgba(0, 0, 0, 0.806);} 
  to {background: rgba(0, 0, 0, 0.506);}
}
.event-sold {
  background-color: rgb(76, 76, 85);
  border-radius: 10px 10px 0 0;
padding: 8px;
color: #fff;
}
.card-sold, .seat-sold {
  background-color: rgb(76, 76, 85,.9);
}
.right-sent {
  height: 4rem;
  aspect-ratio: 1/1;
  background: rgb(250, 250, 250, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 40%;
  transform: translateY(60%);
}
.right-sent:first-child {
  position: absolute;
  font-size: 35px;
}
.sent-span {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  background: var(--my-blue);
  padding: 3px 0;
  font-weight: bolder;
  left: 0;
}
.sent-sent {
  margin: 25px 0;
}
.sent-sent p:nth-child(1) {
  font-weight: bolder;
}
.sent-sent p:nth-child(2) {
margin: 7px 0 3px 0;
}
.sent-sent p:nth-child(3) {
margin-bottom: 6px;
}
.sent-sent p {
  margin-bottom: 4px;
}
.sent-sent button:last-child {
text-decoration: none;
transform: translateY(20px);
background: transparent;
border: none;
color: rgb(0, 79, 163);
font-weight: bolder;
font-size: 15px;
}
.sent-nav {
  background-color: white;
  color: #25252c;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  position: sticky;
  box-shadow: 2px 2px 5px grey;
  padding: 15px 10px;
  top: 0;
}
.sent-nav-center {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.fee-blue-bg {
width: 100%;
height: .3rem;
background: var(--my-blue);
border-radius: 2px;
}
.fee-page {
  width: 92%;
  height: 100vh;
  margin: 0 auto;
  transform: translateY(45px);
}
.fee-ticketmaster {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}
.fee-ticketmaster span:not(.fee-ticketmaster div span) {
  font-style: italic;
  font-size: 22px;
  color: var(--my-blue);
  font-weight: bolder;
}
.fee-ticketmaster div .sent-tm-icon {
  font-size: 26px;
  color: var(--my-blue);
  transform: translateX(-7px);
}
.fee-ticketmaster div {
  display: flex;
}
.fee-ticketmaster div div span {
  transform: translateY(4px);
  font-weight: bold;
}
.sent-info {
  font-size: 20px;
  text-indent: 5px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  margin: 40px 0 0 0;
}
.fee-stages {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto 20px auto;
}
.fee-stages span {
width: 2rem;
height: 2rem;
background: rgb(128, 128, 128);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
z-index: 999;
}
.fee-stages .span {
background: var(--my-blue);
}
.fee-icon {
  color: white;
}
.stage span {
  background: transparent;
}
.stage {
  transform: translateY(-27px);
  position: relative;
}
.stage hr {
  position: absolute;
}
.fee-hr {
  width: 80%;
  margin: -30px auto 0 auto;
  transform: translateY(-6px);
  color: rgb(128, 128, 128, .5);
}
.color-fee {
  color: var(--my-blue);
}
.odd-icons { 
  background: transparent; 
  border-radius: 50%; 
  padding: 1px 2px;
}
.odd-icons-even {
  color: #fff; 
  border: 1px solid white; 
}
.odd-icons-odd {
  color: #000; 
  border: 1px solid black; 
}
.sent-message {
  padding: 20px;
  background: rgb(2, 101, 208, .08);
  border: 1px solid rgb(2, 101, 208);
  border-radius: 5px;
}
.sent-message div:nth-child(1) {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
}
.sent-p {
  text-indent:  7.3rem;
  transform: translateY(-6px);
  line-height: 20px;
  width: 83%;
}
.sent-message div:nth-child(2) h4 {
  transform: translate(0px, 13px);
} 
.sent-message div:nth-child(2) {
  transform: translateX(36px);
}
.sent-bottom-bg button {
  width: 90%;
  background-color: var(--my-blue);
  color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.PROCEED {
  margin: 0 auto;
  text-align: center;
}
.sent-bottom-bg {
  box-shadow: 0px 0px 5px grey;
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px;
}
.sent-bottom-bg .events-time {
  margin: 20px 0 10px 0;
  text-decoration: underline;
}
.sent-bottom-bg p:nth-child(3) {
  transform: translateY(2px);
}
.sent-bottom-bg p:nth-child(5) {
  margin: 0 0 15px 0;
  font-weight: bolder;
}
.sent-bottom-bg p:nth-child(8) {
  margin: 10px 0;
}
.sent-bottom-bg .fee-last-side {
  transform: translateX(-25px);
  line-height: 30px;
}
.header-barcode {
  width: 100%;
  margin-bottom: 5px;
  top: 0;
  z-index: 99999999999999999;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 2.1rem;
  background: var(--default-bg);
  color: white;
  position: fixed;
}
.barcode-x {
  transform: translateY(8px);
  scale: 1.8;
}
.header-barcode div {
  transform: translate(-15px, 3px);
  height: 100%;
  width: 70%;
}
.header-barcode a {
  text-decoration: none;
  transform: translate(-35px, 10px);
  color: white;
  font-size: 1.05rem;
  font-weight: 100;
}
.header-barcode div h3:nth-child(1) {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.05rem;
  margin-bottom: 1.2px;
} 
.header-barcode div p:nth-child(2) {
  font-size: .75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.barcode-body {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999;
  top: 0;
}
.barcode-body img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(.3);
  z-index: 999999999;
  position: relative;
}
.barcode-grid {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.barcode-grid h3{
  font-weight: lighter;
}
.barcode-body div {
  position: absolute;
  top: 8.5rem;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 999999999;
}
.barcode-body div h3:nth-child(1) {
  font-weight: bold;
}
.barcode-body div h3:nth-child(2) {
margin: 25px 0;
font-size: .9rem;
}
.barcode-body div div {
  margin-top: -4.2rem;
}
.barcode-grid2 h2:nth-child(2){
  transform: translateX(-20px);
}
.barcode-grid2 {
  transform: translateX(-15px);
}
.barcode-card {
  margin: 0 auto;
  background: white;
  position: fixed;
  top: 35%;
  width: 70%;
  background-color: white;
  height: 7rem;
  left: 13%;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  z-index: 999999999;
}
.barcode-card img {
  width: 85%;
  height: 4rem;
}
.barcode-card-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
}
.barcode-card p:nth-child(2) {
  transform: translateY(15px);
}
.wallet-barcode {
  width: 50%;
  text-align: center;
  color: white;
  transform: translate(50%, -30rem) !important;
  z-index: 999999999;
  position: fixed;
}
.wallet-barcode img {
  border-radius: 10px;
}
.wallet-barcode p{
  margin-bottom: 5px;
}
.info-barcode {
  width: 100%;
  color: white;
  z-index: 999999999;
  position: fixed;
  transform: translateY(-25.5rem) !important;
}
.info-barcode hr:nth-child(1) {
  border: 1px solid grey;
  margin-bottom: 15px;
}
.info-barcode p {
  transform: translateX(40px);
}
.info-barcode p:nth-child(2), .info-barcode p:nth-child(4), .info-barcode p:nth-child(6), .info-barcode p:nth-child(8){
font-size: 1.1rem;
margin-bottom: 7px;
font-weight: lighter;
}
.info-barcode p:nth-child(3), .info-barcode p:nth-child(5), .info-barcode p:nth-child(7), .info-barcode p:nth-child(9) {
font-size: .715rem;
margin-bottom: 22px;
font-weight: bold;
}
.btn-for-smt {
  margin-top: -35px;
  transform: translateY(-10px);
  color: red;
}
.click-here{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  margin: -20px 0 0 0;
}
.click-here p:nth-child(2) {
  background: var(--my-blue);
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  transform: translate(10px, -5px);
  font-size: 12px;
}
.btn-fee-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 2.2rem;
  background: rgb(0, 0, 0, .5);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(0.9);
}
.btn-fee-bg div {
height: 20rem;
width: 20rem;
background: white;
position: absolute;
transform: translateY(-100px);
border-radius: 10px;
box-shadow: 2px 2px 5px grey;
}
.btn-fee-bg div p {
text-align: center;
transform: translateY(20px);
margin-bottom: 10px;
}
.btn-fee-bg div button {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 65%;
  padding: 10px;
  background: var(--my-blue);
  color: white;
  left: 18%;
  border-radius: 5px;
  font-weight: bold;
  font-size: .9rem;
}
.btn-fee-bg div button:nth-child(7)  {
  transform: translateY(-3rem);
}
.btn-fee-bg div button:nth-child(8) {
  background-color: #ff5252;
}
.countdown-fee {
  font-size: 1.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@keyframes smooth {
  10%, 40% {
    opacity: .5;
    transform: translateX(10px);
  }
  30%, 100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes blinkS {
  10% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
.countdown-fee  span {
  font-weight: bolder;
  transform: translateX(10px);
  color: red;
}
.btn-fee-bg a {
position: absolute;
left: 39%;
text-decoration: none;
bottom: 7.5rem;
font-weight: bold;
}
.btn-fee-bg strong {
  transform: translateX(20px);
}
.btn-fee-bg  p:nth-child(1) {
  font-style: italic;
}
.btn-fee-bg  p:nth-child(2) {
  font-weight: bold;
}
.times {
  color: blue;
}
.btn-fee-bg  p:nth-child(5) {
font-weight: bolder;
}
.service-fee {
  margin: 2rem auto 0 auto;
  width: 90%;
  position: relative;
}
.service-fee div {
  background-color: white;
}
.service-fee div:nth-child(1), .service-fee div:nth-child(2), .service-fee div:nth-child(3){
border: 1.5px solid grey;
padding: 15px;
border-radius: 10px;
margin-bottom: 10px;
}
.service-fee div:nth-child(1) p:nth-child(1) {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 0 15px 0;
}
.service-fee div:nth-child(1) p:nth-child(2),.service-fee div:nth-child(1) p:nth-child(3), .service-fee div:nth-child(1) p:nth-child(4) {
font-size: 14px;
margin-bottom: 1px;
}
.service-fee div:nth-child(1) p:nth-child(4) {
  margin-bottom: 20px;
}
.service-fee div:nth-child(1) p:nth-child(4) a {
text-decoration: none;
margin: 2px;
}
.service-fee div:nth-child(1) hr {
  color: rgb(0, 0, 0, .5);
  margin-bottom: 20px;
}
.service-fee div:nth-child(1) span {
  display: flex;
  width: 9rem;
  justify-content: space-between;
}

.service-fee div:nth-child(1) span .service-fee-icon {
  font-size: 1.5rem;
  transform: translateY(-3px);
  color: #ff5252;
}
.service-fee div:nth-child(1) p:nth-child(7) {
  transform: translate(35px, -3px);
  text-transform: uppercase;
  font-size: .9rem;
}
.service-fee div:nth-child(2) span:nth-child(1)  {
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
}
.service-fee div:nth-child(2) span:nth-child(1) .service-fee-icon2 {
  font-size: 1.5rem;
  transform: translate(10px, 0);
  color: limegreen;
}
.service-fee div:nth-child(2) p:nth-child(2) {
  margin-top: 15px;
  font-weight: bold;
}
.service-fee div:nth-child(2) p:nth-child(3) {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.1rem;
}
.service-fee div:nth-child(3) span:nth-child(1) {
display: flex;
justify-content: space-between;
}
.service-fee div:nth-child(3) span:nth-child(1) strong {
  font-size: 1.25rem;
}
.service-fee div:nth-child(3) span:nth-child(1) p {
  color :rgb(0, 0, 0, .55);
}
.service-fee div:nth-child(3) p:nth-child(2) {
  text-align: right;
  font-weight: bolder;
  margin: 10px 0 0 0;
}
.service-fee div:nth-child(3) button:nth-child(3) {
  width: 100%;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background: var(--my-blue);
  color: white;
  margin: 10px 0;
}
.service-fee div:nth-child(3) hr {
  color: rgb(0, 0, 0, .5);
  margin: 10px 0;
}
.service-fee div:nth-child(3) div p{
  text-align: center;
}
.service-fee div:nth-child(3) div span:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin: 15px 0;
}
.service-fee div:nth-child(3) div  ol {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  font-weight: bolder;
  margin: 10px 0;
}
.service-fee div:nth-child(3) div  ol li {
  list-style-type: none;
}
.service-fee div:nth-child(3) div  ol li a {
  text-decoration: none;
  color: #000;
}
.service-fee div:nth-child(3) div a:nth-child(4) {
  margin: 3px;
  font-size: 15.1px;
}
.service-fee div:nth-child(3) div p:nth-child(5) {
  margin: 10px 0 0 0;
}
.service-fee div:nth-child(3) div {
  background: rgb(25, 25, 0, .13);
  padding: 10px;
}
.service-fee-bg {
  position: absolute;
  top: 2rem;
}
.service-fee-bg img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.4) blur(1px);
}
.sold-session {
  display: flex;
  align-items: center;
  transform: translateY(2px);
}
.barcode-card div:nth-child(4) {
  position: absolute;
  width: .5rem;
  height: 4.8rem;
  top: .28rem;
  right: 1.2rem;
  width: 87%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.barcode-card div:nth-child(4) div:nth-child(1) {
  height: 90%;
  width: 100%;
  background: var(--my-blue);
}
.barcode-card div:nth-child(4) div:nth-child(2) {
height: 100%;
width: .3rem;
background-color: var(--my-blue);
}
@keyframes loadingbar {
  50% {
    width: 1.1%;
  } 20% {
    width: 20%;
  } 100% {
    width: 100%;
  }
}
.loadingstuff {
  animation: loadingbar 10s normal;
}
/* ticket details */
.tixdets-body {
  height: 100%;
  position: absolute;
  padding: 5px 0;
  top: 3.1rem;
  width: 100%;
  background: white;
  z-index: 99999999;
}
.tixdets-body div {
  width: 90%;
  margin: 1rem auto;
}
.tixdets-body hr {
  margin: 10px 0;
  border: 1px solid rgb(0, 0, 0, .1);
}
.tixdets-body div h4 {
  margin-bottom: 5px;
  font-size: 13px;
  color: rgb(0, 0, 0, .65);
  margin-bottom: 7px;
}
.tixdets-body div h4:not(:nth-child(1)) {
  color: rgb(128, 128, 128, .8);
}
.tixdets-body div:nth-child(7) h4:nth-child(2), .tixdets-body div:nth-child(15) h4:not(:nth-child(1)) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 1.5px;
}
.tixdets-body div:last-child h4:nth-child(2)  {
  font-size: .8rem;
}
.tixdets-body div:nth-child(15) h4:not(:nth-child(1)) {
  margin-bottom: 1px;
}
.tixdets-body div:last-child h4:nth-child(1) {
  font-size: 1rem;
}
.tixdets-body div:last-child div {
  width: 100%;
}
/* home styling */
.home-bottom {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  background: white;
  object-fit: contain;
}
.past-grid {
  transform: translateY(40px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  height: 3.2rem;
  background: #004ee9;
  color: white;
  padding: 2px 10px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: -10px;
  position: relative;
  z-index: 999;
}
.activegrid {
  width: 100%;
  height: .3rem;
  position: absolute;
  bottom: 0;

}
.activegrid div {
  height: 100%;
  width: 50%;
  background: white;
}
.activegrid .activeright {
    margin: 0 0 0 auto;
    animation: slidex 700ms normal;
}
.activegrid .activerigh {
  color: rgb(255, 255, 255, .1);
}
.activegrid .inactive {
  margin: 0 0 auto 0;
  animation: slidey 200ms normal;
}
@keyframes slidey {
1%{
  transform: translateX(15rem);
} 100% {
  transform: translateX(0);
}
}
@keyframes slidex {
10% {
transform: translatex(-15rem);
} 100% {
  transform: translateX(0);
}
}
.past-grid .inactiv {
  color: rgb(255, 255, 255, .6);
}
.home {
  background-color: #121212;
  position: fixed;
  z-index: 999999999999909999;
  top: 0;
}
.home img:not([alt="Middle 1"]) {
  margin: -5px 0;
}
.invisible{
  color: transparent;
}
.body-barcode-card {
  background-color: var(--my-blue);
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 1.5rem auto;
  width: 110%;
  transform: translate(-13px, 0);
  justify-content: center;
}
.body-barcode-card .icon-card-body {
  border: 1.5px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  padding: 2px 3.5px;
}
.body-barcode-card h5{
  white-space: nowrap;
  transform: translateX(10px);
  font-size: .9rem;
  color: white;
  font-weight: 600;
}
.wallet-barcode-card {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999;
  background: white;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.wallet-barcode-card .wallet-barcode-card-nav  {
width: 100%;
display: flex;
justify-content: space-between;
margin-bottom: 3rem;
}
.wallet-barcode-card div:nth-child(1) h3:nth-child(2) {
  border-radius: 50%;
  padding: 5px 6.5px;
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
}
.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1% 0;
  padding: 10px 20px;
}
.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm span:nth-child(1):not(.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm div span:nth-child(1)) {
  font-style: italic;
  font-size: 1.5rem;
}
.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm div span:nth-child(1) {
  color: var(--my-blue);
  font-size: .8rem;
  text-align: right;
}
.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm div span:nth-child(2) {
  font-size: 1.3rem;
  text-align: right;
}
.wallet-barcode-card .wallet-barcode-card-nav-two {
  background-color: var(--default-bg);
  color: white;
  height: 27rem;
}
.wallet-barcode-card .wallet-barcode-card-nav-two::after {
  position: absolute;
  content: "";
  height: 5rem;
  width: 6rem;
  background-color: white;
  top: 40px;
  left: 40%;
  border-radius: 50%;
}
.wallet-barcode-card .wallet-barcode-card-nav-two .wallet-barcode-card-nav-two-tm div {
  display: flex;
  flex-direction: column;
}
.wallet-barcode-card .wallet-barcode-card-nav-two-img {
  height: 5rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: var(--my-blue);
}
.wallet-barcode-card .wallet-barcode-card-nav-two-img span {
  font-size: 9rem;
  transform: translateY(-45px);
  font-style: italic;
  font-weight: bolder;
}
.wallet-barcode-card .wallet-barcode-card-nav-two-venue {
  display: grid;
}
.wallet-barcode-card .wallet-barcode-card-nav-two-venue span:nth-child(1) {
  font-size: 13px;
  color: var(--my-blue);
  padding: 10px 20px;
  font-weight: 600;
}
.wallet-barcode-card .wallet-barcode-card-nav-two-venue span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  transform: translate(20px, -5px);
}
 .wallet-barcode-card-nav-two-grid {
  display: flex;
}
.wallet-barcode-card-nav-two-grid div:not(:nth-child(4)) {
  display: grid;
  padding: 10px 20px;
  gap: .4em 1em;
}
.wallet-barcode-card-nav-two-grid div:not(:nth-child(4)) span:nth-child(1) {
  color: var(--my-blue);
}
.wallet-entry-info {
  display: grid;
  padding: 10px 20px;
  row-gap: .4em;
}
.wallet-entry-info span:nth-child(1) {
  color: var(--my-blue);
}
/* Loading.css */

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  transform: translate(0px,5.25rem);
  padding: 15px 0;
}

.loading-circle {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
}

.loading-bar {
  position: absolute;
  width: 3.5px;
  height: 10px;
  background-color: rgb(128, 128, 128, .2);
  border-radius: 4px;
  transform-origin: 50% 140%;
  animation: backgroundAnimation 1s linear infinite;
  left: 50%;
}
.Sdetdiv .loading-bar {
  width: 4.5px;
  height: 13px;
  animation: SbackgroundAnimation 1s linear infinite;
}
@keyframes SbackgroundAnimation {
  0% {
    background-color: gray;
  } 
  100% {
    background-color: rgb(128, 128, 128, .2);
  }
}
.loading-bar:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 100ms; /* No delay for the first bar */
}

.loading-bar:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: 200ms; /* 1s delay for the second bar */
}

.loading-bar:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 300ms; /* 2s delay for the third bar */
}

.loading-bar:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: 400ms; /* 3s delay for the fourth bar */
}

.loading-bar:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: 500ms; /* 4s delay for the fifth bar */
}

.loading-bar:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: 600ms; /* 5s delay for the sixth bar */
}

.loading-bar:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: 700ms; /* 6s delay for the seventh bar */
}

.loading-bar:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 800ms; /* 7s delay for the eighth bar */
}

@keyframes backgroundAnimation {
  0% {
    background-color: #026bde;
  } 
  100% {
    background-color: rgba(128, 128, 128, 0.1)
  };
}

.Sdet {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgb( 0, 0, 0, .1);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sdetdiv {
  width: 17rem;
  height: 10rem;
  background: white;
  border-radius: 10px;
  transform: translateY(-5.2rem);
}
.Sdetdiv h4 {
  text-align: center;
  width: 13rem;
  font-size: 1.1rem;
  font-weight: 500;
  transform: translate(2.2rem, 20px);
  font-family: sans-serif;
}
.Sdetdiv .loading-container {
  transform: translate(0px,60px);
}
.tm-bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #1e262d;
  z-index: 99999;
  color: white;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: bold;
  animation: tmlee 5s infinite;
}

.tm-bg span {
  animation: tmbg 5s infinite;
  position: absolute;
}

.tm-bg span:nth-child(2) {
  animation-delay: 0.2s; 
}

.tm-bg span:nth-child(3) {
  animation-delay: 0.4s; 
}

@keyframes tmbg {
  10% {
    font-size: 8rem;
  } 
  100% {
    font-size: 200rem;
    scale: 20;
    opacity: 0;
  }
}
@keyframes tmlee {
  10% {
    opacity: 1;
  } 50%, 100% {
    opacity: 0;
  }
}
.Nfee div:nth-child(1) {
  background: var(--default-bg);
  padding: 20px 40px;
  color: white;
  text-align: center;
  font-size: 1.35rem;
}
.Nfee div:nth-child(1) span:nth-child(1):not(.Nfee div:nth-child(1) p span)  {
  font-synthesis: style;
  font-style: italic;
  font-weight: 500;
}
.Nfee div:nth-child(1) span:nth-child(1):not(.Nfee div:nth-child(1) p span)::after {
  content: "Ⓡ";
  font-size: 8px;
  transform: translate(4px, 2px);
  position: absolute;
}
.Nfee div:nth-child(1) h4 {
  font-size: 1.6rem;
  letter-spacing: .05em;
  margin: 10px;
  font-weight: bolder;
}
.Nfee div:nth-child(1) p {
  font-size: 1rem;
}
.Nfee div:nth-child(1) p span::after {
  content: '';
  display: inline-block;
  width: 5rem;
  height: 2px;
  background-color: white; 
  margin: 0 5px; 
  transform: translateY(-2.5px);
}
.Nfee div:nth-child(2) {
  padding: 20px;
}
.Nfee div:nth-child(2) p:nth-child(1) {
  padding: 7px;
  font-family: sans-serif;
  font-size: 18px;
}
.Nfee div:nth-child(2) p:nth-child(1) span {
  font-weight: bold;
}
.Nfee div:nth-child(2) hr {
  border: 2px solid rgb(128, 128, 128, .5);
  margin: 7px;
}
.Nfee div:nth-child(2) p:nth-child(3) {
  margin: 10px 0;
  width: 100%;
}
.Nfee div:nth-child(2) div {
  padding: 7px;
  background: rgb(128, 128, 128, .2);
}
.Nfee div:nth-child(2) div hr {
  border: 0.5px solid rgb(128, 128, 128, .5);
}
.Nfee div:nth-child(2) div p span {
  font-weight: bold;
}
.Nfee-btm {
  width: 80%;
  padding: 15px;
  position: fixed;
  background: var(--my-blue);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  left: 7%;
  bottom: 20px;
}
.Clockfour-Nfee {
  color: var(--my-blue);
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
}
.nfee-last-part {
  padding: 20px 20px 65px 20px;
  position: relative;
  color: white;
  overflow: hidden;
  margin: 10px 0 0rem 0;
}
.nfee-last-part div:nth-child(8) {
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: rgb(3, 109, 222, .1);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.nfee-last-part p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: grey;
  font-weight: 600;
}
.nfee-last-part p span {
  color: black;
}
.nfee-last-part h3 {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  letter-spacing: .2em;
  margin-top: 25px;
  -webkit-text-stroke: 1.4px #000;
  text-transform: uppercase;
}
.nfee-last-part a {
  margin-top: 5px;
}
.nfee-last-part hr {
  border: 2px solid rgb(128, 128, 128, .1);
  margin-top: 25px;
}
.nfee-last-part p:nth-child(26) {
  margin-bottom: 20px;
  color: red;
}
.only-div {
  border: 1.5px solid rgb(0, 0, 0, .5);
  transform: translateY(3rem);
  margin: 0 auto;
  width: 90%;
  border-radius: 7px;
  background: rgb(128, 0, 128, .05);
  display: flex;
  padding: 10px;
}
.only-div span {
  font-size: 2rem;
  color: rgb(0,0,0,.55);
}
.only-div p {
  text-align: left;
  font-weight: 500;
  margin-left: 10px;
}
.Dtwo-div {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgb(0,0,0,.5);
  top: 0;
  z-index: 999;
  display: grid;
  place-items: center;
  color: white;
  }
  .Dtwo-div div {
  height: 14rem;
  width: 22rem;
  background: white;
  border-radius: 10px;
  color: black;
  display: grid;
  place-items: center;
  padding: 1rem 0;
  transform: translate(0, -1rem);
  }
  .Dtwo-div div button {
  width: 80%;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--my-blue);
  }
  .Dtwo-div div button:nth-child(5) {
  background: rgb(128,128,128,.5);
  transform: translateY(10px);
  }
  .Dtwo-div div p {
  margin-bottom: -10px;
  font-family: sans-serif;
  font-size: 1.15rem;
  }

  .ticketsentcopy .top{
    width: 100%;
    height: 5rem;
    background: #026bde;
    display: grid;
    place-items: center;
  }
  .ticketsentcopy .top span {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .ticketsentcopy > div div:nth-child(2) p:nth-child(2){
    font-weight: bolder;
  }
  .ticketsentcopy > div div:nth-child(2) p {
    font-size: 18px;
    margin:10px 0 20px 0;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 23rem;
  }
  .ticketsentcopy > div div:nth-child(3) {
    border: 2px solid rgb(2, 107, 222, .3);
    border-radius: 5px;
    padding: 10px;
    background: rgb(128,128,128,.1);
  }
  .ticketsentcopy button {
    height: 3rem;
    width: 100%;
    font-weight: bolder;
    letter-spacing: .05em;
    font-size: 15px;
    background: #016ddd;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px 0;
  }
  .ticketsentcopy > div div:nth-child(3) p:nth-child(1) {
    margin:5px 0 20px 0;
    width: 13rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    -webkit-text-stroke: 1.2px;
    letter-spacing: .05em;
  }
  .ticketsentcopy .faExclamationCircle {
    color: red;
    font-size: 25px;
    transform: translateY(-3px);
  }
  .ticketsentcopy > div {
    margin: 0 auto;
    max-width: 25rem;
  }
  .circlelee{
      border-radius: 50%;
      border: 2px solid green;
      color: green;
      padding: 5px;
  }
  .choice {
    border: 2px solid rgb(128,128,128,.6);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  .hmmhead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
    background: var(--default-bg);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    }
    .hmmhead a {
      transform: translateX(-30px);
      text-decoration: none;
      color: white;
    }
    @keyframes opacity {
      from{
        opacity: 0;
      }to {
        opacity: 1;
      }
    }
    .card-holder {
      animation: opacity 500ms normal;
    }
    .animate {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      background: #1e262d;
      z-index: 999999999999999099999999;
      display: grid;
      place-items: center;
      color: white;
    }
    .animate h1 {
      transform: translateY(-5rem);
      font-style: italic;
      font-family: Arial, sans-serif;
      /* animation: scaled 1s normal; */
      /* transition: animation 400ms ease; */
    }
    @keyframes scaled {
      from {
        scale: 2.5;
      } to {
        scale: 1;
      }
    }
    .delay {
      height: 100vh;
      width: 100%;
    }
    .delay .delay-head {
      background: #1e262d;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      align-items: center;
    }
    .delay .delay-head > div:nth-child(2) {
      font-size: 14px;
      transform: translateX(20px);
    }
    .delay .delay-head > div:nth-child(3) div {
      width: 5rem;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      height: 2rem;
      align-items: center;
      flex: 1;
    }
    .delay .delay-head > div:nth-child(3) {
      padding: 0 5px;
      background: #1e262d;
      width: 5.1rem;
      position: relative;
      z-index: 9999;
    }
    .pass {
      background: var(--default-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px 15px 20px;
      color: white;
      justify-content: space-between;
      width: 100%;
      color: rgb(255, 255, 255, 8);
    }
    .search_icon {
      display: flex;
      transform: translateX(8rem);
      font-size: 24px;
      gap: 25px;
    }
    .security {
      overflow: hidden;
    }.pass > div:nth-child(1) {
      font-size: 20px;
    }
    .sbody {
      padding: 30px;
    }
    .sbody p {
      font-size: 15px;
      margin: 30px 0;
      -webkit-text-stroke: .2px;
      color: rgb(0,0,0, .9);
    }
    .sbody img {
      height: 15vh;
      object-fit: cover;
      border-radius: 15px;
    }
    .security button {
      background: #016ddd;
      border: none;
      color: white;
      width: 100%;
      padding: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      border-radius: 5px;
      font-weight: bolder;
      font-size: 14px;
    }
    .sfooter {
      width: 85%;
      margin: 0 auto;
    }
    .sfooter > p:nth-child(1) {
      font-weight: bold;
      margin-bottom: 12px;
    }
    .sfooter > p:nth-child(2), .sfooter > p:nth-child(4) {
      gap: .55rem;
      display: flex;
      align-items: center;
      color: rgb(0,0,0, .7);
      margin-bottom: 7px;
      font-size: 13.1px;
    }
    .sfooter > p:nth-child(4) {
      margin-bottom: 20px;
    }
    .sclock {
      color: rgb(30, 38, 45, .9);
      scale: 1.2;
    }
    .sfooter > p:nth-child(3) {
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .sfooter > p:nth-child(5) span:nth-child(2) {
      color: var(--default-bg);
      -webkit-text-stroke: 1.4px;
      font-stretch: expanded;
    }
    .sfooter > p:nth-child(5) span:nth-child(1) {
      font-size: 13px;
    }
    .sfooter > p:nth-child(5) {
      margin: 0px 1rem 1rem;
    }
    .sfooter hr {
      background-color: rgb(255, 255, 255, .2);
      margin: 20px 0;
    }
    .sfooter > div:nth-child(7) {
      box-shadow: 0 0 2px rgb(128, 128, 128, .3);
      padding: 20px;
      display: grid;
      place-items: center;
      gap: 20px;
      text-align: center;
    }
    .sfooter > div:nth-child(7) p:nth-child(1) {
      font-family: sans-serif;
      font-stretch: extra-condensed;
    }
    .sfooter > div:nth-child(7) p:nth-child(2) {
      font-variant: small-caps;
      font-size: 12px;
      font-weight: bold;
    }
    .ticket_image {
      filter: contrast(3);
      -ms-filter: constrast(3);
      -webkit-filter: contrast(3);
    }
/* test part */
.card_container img {
  height: 80vh;
  object-fit: cover;
}
.main-ticket-body {
  position: absolute;
  top: 100vh;
  background: transparent;
}
@keyframes slide-up {
  0% {
    z-index: -999;
    top: 100vh;
  }
  10% {
    top: 90vh;
  } 100% {
    top: 0;
  }
}
.slide-up-ticket-now {
  position: absolute;
  width: 100%;
  background: white;
  height: 100vh;
  transition: all 400ms ease-in-out;
  }
  .slide-up {
    animation: slide-up 800ms normal;
    transition: all 3s ease-in;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .card-code {
    width: 1.5rem;
    height: 1.5rem;
  }
  .card-code img {
    filter: contrast(10);
    transform: translate(0, 2px);
  }
  @keyframes slide_down {
    0% {
      top: 0;
    } 100% {
      top: 100vh;
    }
  }

.slide-down {
  animation: slide_down 1s normal;
}
.header_for_fee {
  width: 90%;
  transform: translate(1.3rem, 0);
  letter-spacing: .15px;
}
.header_for_fee > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_for_fee > div:nth-child(2) > p {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  height: 2rem;
  font-family: sans-serif;
  color: rgb(0,0,0, .8);
  font-size: 17px;
  margin-bottom: 5px;
}
.header_for_fee > div:nth-child(2) p p {
  background: rgb(128, 128, 128, .2);
  padding: 3.6px 5px 3.5px 5px;
  font-size: 8.3px;
  border-radius: 5px;
  transform: translateY(-1px);
  font-family: sans-serif;
}
.header_for_fee .star-fee {
  transform: translateY(5px);
  scale: 1.4;
  color: rgb(2, 107, 222, 14);
}
.second-header-two img {
  border-radius: 50%;
  width: 2.8rem;
  transform: translateY(-2.5px);
}
.second-header-two div > p:nth-child(1){
  display: flex;
  width: 10rem;
  justify-content: space-between;
  font-weight: bold;
  transform: translateX(-1px);
  color: rgb(0,0,0,.8);
}
.second-header-two div > p:nth-child(1) p {
  font-size: 8.5px;
  color: rgb(0,0,0,.5);
  transform: translate(-45px,3px);
}
.second-header-two {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  margin-top: 25px;
  margin-left: -5px;
}
.second-header-two > div:nth-child(2) {
  display: grid;
  font-size: 12px;
}
.chevron-fee {
  transform: translate(10px, 2px);
  scale: .7;
}
.second-header-two > div:nth-child(2) > p:nth-child(2) {
  font-size: 9px;
  font-weight: bold;
  color: rgb(0,0,0,.6);
}
.third-header-three > div:nth-child(1), .third-header-three div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  justify-content: flex-start;
  gap: 20px;
}
.third-header-three > div:nth-child(1) > p:nth-child(2), .third-header-three > div:nth-child(2) > p:nth-child(2), .third-header-three > div:nth-child(3) > p:nth-child(2), .third-header-three > div:nth-child(4) > p:nth-child(2) {
  margin-left: 5px;
  color: rgb(0,0,0,.7);
  font-size: 10px;
}
.third-header-three > div:nth-child(3) > p:nth-child(2) {
  transform: translate(16px,0);
}
.third-header-three > div:nth-child(2) > p:nth-child(2) {
  transform: translate(14px, 0);
}
.third-header-three > div:nth-child(1) p:nth-child(1), .third-header-three div:nth-child(2) p:nth-child(1), .third-header-three > div:nth-child(1) p:nth-child(3), .third-header-three div:nth-child(2) p:nth-child(3) {
  color: grey;
  font-size: 10px;
}
.third-header-three div:nth-child(2) p:nth-child(2){
  margin-left: 5px;
}
.third-header-three div:nth-child(3) p:nth-child(2) {
  margin-left:-8px;
}
.third-header-three div:nth-child(2) p:nth-child(3) {
  margin-left: 6px;
}
.third-header-three div:nth-child(3) {
  display: flex;
  font-size: 10px;
  gap: 20px;
}
.third-header-three {
  display: grid;
  gap: 20px;
  padding: 10px 15px;
  border: 0.5px solid rgb(128, 128, 128, .5);
  border-radius: 10px;
  margin-top: .8rem;
  font-weight: bold;
  margin-left: -5px;
  width: 22.8rem;
}
.third-header-three div:nth-child(4) {
  display: flex;
  gap: 32px;
  font-size: 10px;
}
.third-header-three div:nth-child(3) p:nth-child(1) {
  color: grey;
  font-size: 10px;
}
.third-header-three div:nth-child(4) p:nth-child(2) {
  display: grid;
  gap: 5px;
  transform: translate(4px, -5px);
  color: rgb(0,0,0,.7);
  font-size: 10px;
}
.unlock-fee {
  color: rgb(0,0,0,.65);
  scale: 1.3;
  transform: translateX(5px);
}
.third-header-three div:nth-child(4) p:nth-child(2) a {
  text-decoration: none;
  color: var(--my-blue);
}
@keyframes axs-move-up {
  from {
    transform: translateY(110vh);
  } to {
    transform: translateY(0);
  }
}
.axs-move-up-animation {
  position: fixed;
  animation: axs-move-up 700ms normal;
}
.home-bottom img {
    transition: opacity 10ms ease-out;
    opacity: 0.7;
}
.home-bottom img.active {
  opacity: 1;
}
